
services:
  spiffworkflow-connector:
    build:
      context: .
      dockerfile: dev.Dockerfile
    user: "${RUN_AS}"
    environment:
      FLASK_DEBUG: "1"
      POETRY_VIRTUALENVS_IN_PROJECT: "true"
      XDG_CACHE_HOME: "/app/.cache"
    env_file:
      - path: .env
        required: false
    ports:
      - "7004:7004"
